<!DOCTYPE html>
<html>
  <head>
    <title> WELCOME! </title>

  </head>

  <body>
    <p>  hellOOOOOooOOOOoOooOOOoooOoOOO </p>

    <table style="width:100%">
      <tr>
	<th>Story</th>
	<th>Most Recent Contributer</th>
	<th>Time Edited</th>
	<th>Preview</th>
      </tr>

      {% for key in d %}
      <tr>
	<td>{{key}}</td>
	<td>{{d[key][0]}}</td>
	<td>{{d[key][1]}}</td>
	<td>{{d[key][2]}}</td>
      </tr>
      {% endfor %}

    </table>

    <form action = "/logout">
      <input type = "submit" name = "logout" value = "Logout">
    </form>





  </body>
</html>
