<!DOCTYPE html>
<html>
  <head>
    <title> WELCOME! </title>

  </head>

  <body>
    <p>  hellOOOOOooOOOOoOooOOOoooOoOOO </p>

    <table style="width:100%">
      <tr>
	<th>Story</th>
	<th>Most Recent Contributer</th>
	<th>Time Edited</th>
	<th>Preview</th>
      </tr>
      <!--
      {% for story, contributer, timestamp, contribution in info %}
      <tr>
	<td>{{story}}</td>
	<td>{{contributer}}</td>
	<td>{{timestamp}}</td>
	<td>{{contribution}}</td>
      </tr>
      {% endfor %}
-->    
    </table>
    
    <form action = "/logout">
      <input type = "submit" name = "logout" value = "Logout">
    </form>

    
    


  </body>
</html>
