<!DOCTYPE html>
<html>
  <head>
    <title> WELCOME! </title>

  </head>

  <body>
    <h>  Welcome </h>

    <table border="1" style="width:100%">
      <tr>
	<th>Story</th>
	<th>Most Recent Contributer</th>
	<th>Time Edited</th>
	<th>Preview</th>
      </tr>

      {% for key in d %}
      <tr>
  <td>
    <form action = "/add" method = "POST">
      <input type = "submit" name = "title" value = {{key}}>
    </form>
  </td>
	<td>{{d[key][0]}}</td>
	<td>{{d[key][1]}}</td>
	<td>{{d[key][2]}}</td>
      </tr>
      {% endfor %}

    </table>

    <form action = "/create">
      <input type = "submit" name = "create story" value = "create">
    </form>

    <form action = "/logout">
      <input type = "submit" name = "logout" value = "Logout">
    </form>





  </body>
</html>
