<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN! </title>

    <h1> LOGIN PAGE </h1>

  </head>

  <body>
    <br> <br>
    {{ message }}
    <br> <br>
    <form action = "/auth" method = "POST">

      <b> Username: </b> <input type = "text" name = "username" > <br>
      <b> Password: </b> <input type = "password" name = "password" > <br>
      <input type = "submit" name = "sub1" value = "Login">
    </form>

    <br> <br>

    <p>
      No account?
      <a href="/signup">Sign up!</a>
    </p>



  </body>
</html>
