<!DOCTYPE html>
<html>
  <head>
    <title> Password Reset! </title>

    <h1> PASSWORD RESET PAGE </h1>

  </head>

  <body>
    <br> <br>
    {{ message }}
    <br> <br>
    {% block form %}
    <form action = "/reset_auth" method = "POST">

      <b> Username: </b> <input type = "text" name = "username" > <br>

      <input type = "submit" name = "sub1" value = "submit">
    </form>
    {% endblock %}

    <br> <br>

    <p>
      Back to Login Page
      <a href="/">Login!</a>
    </p>



  </body>
</html>
