<!DOCTYPE html>
<html>
  <head>
    <title> SIGNUP! </title>

    <h1> SIGN UP PAGE </h1>

  </head>

  <body>
    <br> <br>
    {{ message }}
    <br> <br>
    <form action = "/signupauth" method = "POST">

      <b> Username: </b> <input type = "text" name = "username" > <br>
      <b> Password: </b> <input type = "password" name = "password0" > <br>
      <b> Verify Password: </b> <input type = "password" name = "password1" > <br>

      <br> <br>
      <p> For Safety Purposes </p>
      <b> Question: </b> <input type = "text" name = "question" > <br>
      <b> Answer: </b> <input type = "text" name = "answer" > <br>
      <input type = "submit" name = "sub1" >
    </form>


  </body>
</html>
